---
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] | lower }}.yml"
        - "{{ ansible_facts['os_family'] | lower }}.yml"
      paths:
        - vars

- name: Include OS-specific tasks
  ansible.builtin.include_tasks: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] | lower }}.yml"
        - "{{ ansible_facts['os_family'] | lower }}.yml"
      paths:
        - tasks

- name: Extend network buffering
  ansible.posix.sysctl:
    name: net.core.rmem_max
    value: 2500000
    sysctl_set: true
    state: present
    reload: true

- name: Enable IPv4 ICMP proxy
  ansible.posix.sysctl:
    name: net.ipv4.ping_group_range
    value: '0 0'
    sysctl_set: true
    state: present
    reload: true

- name: Ensure Cloudflare Tunnel service is configured
  ansible.builtin.template:
    dest: "/etc/systemd/system/cloudflared.service"
    src: cloudflared.service.j2
    owner: root
    group: root
    mode: "0755"
  notify: Restart Cloudflare Tunnel

- name: Enable Cloudflare Tunnel to start on boot
  ansible.builtin.service:
    name: cloudflared
    enabled: true
